node_modules
dist
.env
.vercel
.env*
public/assets
public/index.html
public/storybook
src/frontend/storybook-static
fixtures/tar-examples/**
!fixtures/tar-examples/.gitkeep
src/gapp/registry/*.js
*.har
sidecar/.http-mitm-proxy
.DS_Store
